version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL}
        NEXT_PUBLIC_MOCK_API_BASE_URL: ${NEXT_PUBLIC_MOCK_API_BASE_URL}
    env_file:
      - .env
    environment:
      NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL}
      NEXT_PUBLIC_MOCK_API_BASE_URL: ${NEXT_PUBLIC_MOCK_API_BASE_URL}
      PORT: 3000
    ports:
      - "${PORT:-3000}:3000"
